/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-codoswpgb-icon-card  {
  .card{
    max-width: 100%;
    min-height: 255px;
    padding: 60px 15px 0px 15px;
    border: 1px solid #737373;
    border-radius: 0;
  }
  .icon-card{
    position: absolute;
    left: calc(50% - 40px);
    top: -40px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 1px solid #737373;
    text-align: center;
    background-color: #fff;
    img{
      width: 40px;
      margin-top: 8px;
    }
  }
}

@media (max-width: 767px){
  .wp-block-codoswpgb-icon-card .icon-card {
    left: 40%;
  }
}